---
import BaseLayout from '../layouts/BaseLayout.astro';
import PostCard from '../components/PostCard.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('posts'))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseLayout title="randalthor17 - Home">
  <div class="index-content framed">
    <h1 id="hello-there">Hello there!</h1>
    <p>Welcome! This is just a website I've been working on, and I might write stuff that I like about here. The style of writing might be unrefined, cause I've never written like this, so please be patient with me. Thanks for visiting, hope you enjoy it!</p>
  </div>
  
  <div class="posts">
    {posts.map((post) => <PostCard post={post} />)}
  </div>
</BaseLayout>
